{
	log {
		output discard
	}
}

api.mainnet.cipherscan.app {
	reverse_proxy 127.0.0.1:3001

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}
}

lightwalletd.mainnet.cipherscan.app {
	reverse_proxy 127.0.0.1:9067 {
		transport http {
			versions h2c
		}
	}
}
